* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --Bebas-Neue: font-family: 'Bebas Neue', cursive;
  --roboto: font-family: 'Roboto', sans-serif;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(rgb(47, 150, 163), rgb(48, 62, 143));
  font-family: sans-serif;
}

.card-wrapper {
  background-image: linear-gradient(white, #EBEDEE);
  color: black;
  border-radius: 10px;
  font-size: 2rem;
  font-family: var(--roboto);
}

.app-header {
  border-bottom: 2px solid lightblue;
  width: 100%;
  padding: 0.8rem;
  text-align: center;
  color: rgb(47, 150, 163);
}

.inner-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  align-content: center;
  padding: 1rem 4rem 1rem 4rem;
}

.main-icon {
  width: 6.5rem;
}

.temp-section {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 0.8rem;
  height: 150px;
  width: 150px;
  border: 2px solid lightblue;
  border-radius: 50%;
}

.temperature {
  font-size: 5rem;
}

.temp-section span {
  font-size: 3rem;
}

.description {
  font-size: 1.5rem;
  width: fit-content;
}

.location-wrapper {
  display: flex;
  gap: 0.5rem;
}

.location {
  font-size: 2rem;
  width: fit-content;
  font: 2px var(--roboto);
}

.location-pin {
  width: 20px;
  height: 25px;
  align-self: center;
}


.bottom-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-top: 2px solid lightblue;
}


.wind-text-wrap {
  display: flex;
  flex-direction: column;
  margin-right: 0.8rem;
}

.wind-speed-wrap, 
.humidity-wrap {
  display: flex;
  flex-direction: row;
  gap: 0.1rem;
  justify-content: center; 
}

.wind-icon {
  width: 3.5rem;
}

.bottom-inner-wrap-1 {
  border-right: 1px solid lightblue;
  width: 50%;
  padding:0.5rem;
}

.bottom-inner-wrap-2 {
  border-left: 1px solid lightblue;
  width: 50%;
  padding:0.5rem;
}

.mph {
  font-size: 1rem;
  text-align: center;
}

.humidity-icon {
  width: 3.5rem;
}

.humidity {
  display: flex;
  align-items: center;
}

a {
  margin-top: 2rem;
  text-decoration: none;
  color: white;
  font-style: italic;
}

